<div class="footer">
   <div class="info">
      <h5>Get’s your discount</h5>
      <ul>
         <li><a href="#">Check now !</a></li>
      </ul>
   </div>
   <div class="info">
      <h5>Our services</h5>
      <ul>
         <li><a href="#">Collection</a></li>
         <li><a href="#">How its work</a></li>
         <li><a href="#">Estimats</a></li>
      </ul>
   </div>
   <div class="info">
      <h5>Company</h5>
      <ul>
         <li><a href="#">Terms of use</a></li>
         <li><a href="#">Privacy policy</a></li>
         <li><a href="#">Careers</a></li>
      </ul>
   </div>
   <div class="info">
      <h5>Contact</h5>
      <ul>
         <li><a href="#">Furniutr2@furniture.com</a></li>
         <li><a href="#">(888) 315-500</a></li>
         <li><a href="#">St. VIllage, New York</a></li>
      </ul>
   </div>
</div>
