<div class="products" id="products">
   <div class="header">
      <div class="tagline">
         <h4>Our you have to buy</h4>
         <h2>Product</h2>
      </div>
      <div class="navArrows">
         <span class="arrow prev"><</span>
         <span class="arrow next">></span>
      </div>
   </div>
   <div class="swiper">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <div class="item">
               <div class="itemImg"></div>
               <span class="itemLabel">Modern lamp study</span>
               <span class="itemPrice">$258</span>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="item">
               <div class="itemImg"></div>
               <span class="itemLabel">Modern chair</span>
               <span class="itemPrice">$135</span>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="item">
               <div class="itemImg"></div>
               <span class="itemLabel">Classic lamp</span>
               <span class="itemPrice">$425</span>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="item">
               <div class="itemImg"></div>
               <span class="itemLabel">Clock cute</span>
               <span class="itemPrice">$331</span>
            </div>
         </div>

         <div class="swiper-slide">
            <div class="item">
               <div class="itemImg"></div>
               <span class="itemLabel">Cozy towel</span>
               <span class="itemPrice">$16</span>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="item">
               <div class="itemImg"></div>
               <span class="itemLabel">Plant tree</span>
               <span class="itemPrice">$225</span>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="item">
               <div class="itemImg"></div>
               <span class="itemLabel">Modern bookshelf</span>
               <span class="itemPrice">$105</span>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="item">
               <div class="itemImg"></div>
               <span class="itemLabel">Pillows</span>
               <span class="itemPrice">$35</span>
            </div>
         </div>
      </div>
   </div>
</div>
